/* src/components/Dashboard.css */

.dashboard {
  max-width: 1200px;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: #282c34; /* Dark background for CodePen theme */
  color: #f4f4f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width:100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashboard-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #61dafb; /* Accent color similar to CodePen */
}

.dashboard-content {
  padding: 10px;
}

.dashboard-section {
  background-color: #333841; /* Section background color */
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #61dafb;
}

.section-icon {
  margin-right: 8px;
}

.section-list {
  list-style-type: none;
  padding: 0;
}

.section-item {
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: #f4f4f4;
  background-color: #3c414c;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
}

.section-item:hover {
  background-color: #50555f;
  cursor: pointer;
}

.project-icon {
  margin-right: 8px;
  color: #f9c74f; /* Gold color for the project icon */
}
